<div class="container">
			<h4>Trang chủ > Xe Đạp điện > Mua ngay</h4>
			<div class="row ">
				<table class="col-sm-10">
					<th class="col-sm-6">

						<aside class="left-aside">
							<div class=" form-group col-sm-5">
								<img src="xe2.jpg" width="260%" height="30%" /> <br /> <br />
								<h5>
									<strong>Giá bán:9.000.000đ</strong>
								</h5>
							</div>
						</aside>

					</th>
					<th>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<center>Thông tin khách hàng</center>
								</h3>
							</div>
							<div class="panel-body">
								<form id="dangsanpham" method="post" class="form-dangsanpham"
									action="">
									<div class="form-gourp">
										<label class="col-sm-4 control-label" for="gender">Gender:</label>
										<input type="radio" name="gender" value="Anh" />Anh<b>/</b> <input
											type="radio" name="gender" value="Chi" />Chị <br /> <br />
									</div>

									<div class="form-group">
										<label class="col-sm-4 control-label" for="name">Họ
											Tên của bạn*</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="firstname"
												name="name" placeholder=" Họ Tên của bạn" />
										</div>
									</div>
									<br /> <br />

									<div class="form-group">
										<label class="col-sm-4 control-label" for="numberphone">SDT*</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="numberphone"
												name="numberphone" placeholder="Số điện thoại" />
										</div>
									</div>
									<br /> <br />
									<div class="form-group">
										<label class="col-sm-4 control-label" for="number">Số
											lượng</label>
										<div class="col-sm-5">
											<input type="number" class="form-control" id="number"
												name="numberphone" />
										</div>
									</div>
									<br /> <br />

									<div class="form-group">
										<div class="col-sm-9 col-sm-offset-4">
											<button type="submit" class="btn btn-primary" name="signup"
												value="Sign up">Mua Ngay</button>
										</div>
									</div>

								</form>
							</div>
						</div>
					</th>
				</table>
			</div>
		</div>