<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu" ng-app="myApp">	
	<div ng-controller="MenuCtrl">
		<div class="container">
            <div style="margin: 10px; margin-right: 20px">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li><a href="" data-toggle="tab" ng-click="clickHome()"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
                        <li><a href="" data-toggle="tab" ng-click="clickNews()"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Tin tức</a></li>
                        <li class="dropdown">
                        	<a href="" data-toggle="dropdown" ng-click="clickTradeMark()">
                        		<i class="fa fa-trademark" aria-hidden="true"></i> Thương hiệu 
                        		<span class="caret" />
                        	</a>
                        	<ul class="dropdown-menu">
								<li ng-repeat="tradeMark in listTradeMark">
									<a ng-href="/{{tradeMark}}">{{tradeMark}}</a>
								</li>
							</ul>
                        </li>
                        <li><a href="" data-toggle="tab" ng-click="clickProductList()"><i class="fa fa-list" aria-hidden="true"></i> Danh danh sản phẩm</a></li>
						<li><a href="" data-toggle="tab" ng-click="clickContact()"><i class="fa fa-id-card-o" aria-hidden="true"></i> Liên hệ</a></li>
                       
                        <li class=" navbar-right">
                        	<a href="/register" sec:authorize="!isAuthenticated()">
                        		<i class="fa fa-user-plus" aria-hidden="true"> Đăng ký</i>
                        	</a>
                        </li>
                        <li class=" navbar-right">
                        	<a href="/login" sec:authorize="!isAuthenticated()">
                        		 <i class="fa fa-sign-in" aria-hidden="true"> Đăng nhập</i>
                        	</a>
                        </li>
                        <li class="dropdown navbar-right" sec:authorize="isAuthenticated()">
                        	<a data-toggle="dropdown" href="">
                        		<i class="fa fa-user-o" aria-hidden="true"> </i>
								<span sec:authentication="name" /><span class="caret" />
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/accountInfo">
										<i class="fa fa-id-card-o" aria-hidden="true"></i> Thông tin tài khoản
									</a>
								</li>
								<li>
									<a href="/changePassword">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đổi mật khẩu
									</a>
								</li>
								
								<div class="divider"></div>
								<li>
									<a href="/changePassword">
										<i class="fa fa-history" aria-hidden="true"></i> Lịch sử giao dịch
									</a>
								</li>
								<div class="divider"></div>
								<li>
									<a href="/logout">
										<i class="fa fa-sign-out" aria-hidden="true"> Thoát</i> 
									</a>
								</li>
							</ul>
						</li>    
						<li class=" navbar-right"><a href="#" sec:authorize="hasRole('ROLE_ADMIN')">Thêm sản phẩm</a></li>
						<li class=" navbar-right">
							<a href="#" sec:authorize="hasRole('ROLE_MEMBER')">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng (2)
							</a>
						</li>
						                   
                    </ul>
                </div>
            </div>
        </div>
	</div>
</div>
</html>
