<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<div class="menu-container" th:fragment="menu">

	<a href="/">Home</a> | <a
		href="/productList"> Product
		List </a> | <a href="/shoppingCart">
		My Cart </a> |
	<security:authorize access="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')">
		<a href="/orderList"> Order List
		</a>
     |
   </security:authorize>

	<security:authorize access="hasRole('ROLE_ADMIN')">
		<a href="/product"> Create
			Product </a>
         |
   </security:authorize>

</div>
</html>