<md-dialog flex="45" ng-controller="AddDienKeController">
    <div style="margin: 10px">
        <div>
            <h3>Add Dien Ke</h3>
        </div>
        <form method="post" layout-fill flex layout="column" action="/addDienKe">
            <div>
                <md-input-container class="md-block">
                    <label>MÃ ĐIỆN KẾ</label>
                    <input type="text" ng-model="kh.madk" name="madk"  required readonly>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>MÃ KHÁCH HÀNG</label>
                    <input type="text" ng-model="kh.makh" name="makh" readonly>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>THÁNG</label>
                    <input type="text" ng-model="mathang" name="mathang">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>NĂM</label>
                    <input type="text" ng-model="manam" name="manam">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>CHỈ SỐ CŨ</label>
                    <input type="number" name="chisocu" ng-model="chisocu" required>
                </md-input-container>

                <md-button type="submit">Add</md-button>
            </div>
        </form>
    </div>
</md-dialog>