<md-dialog flex="45">
    <div style="margin: 10px">
        <div>
            <h3>Add Dien Ke</h3>
        </div>
        <form method="post" layout-fill flex layout="column" action="/addDienKe">
            <div>
                <md-input-container class="md-block">
                    <label>Ma Dien Ke</label>
                    <input type="text" name="madk" ng-model="madk" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Ma Khach Hang</label>
                    <input type="text" ng-model="makh" name="makh">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Thang</label>
                    <input type="text" ng-model="mathang" name="mathang">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nam</label>
                    <input type="text" ng-model="manam" name="manam">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Chi So Cu</label>
                    <input type="number" name="chisocu" ng-model="chisocu" required>
                </md-input-container>

                <md-button type="submit">Add</md-button>
            </div>
        </form>
    </div>
</md-dialog>