<!DOCTYPE html>
<html>
<head>
    <title>Poem</title>
    <meta charset="utf-8"/>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-app="myApp">
<div ng-controller="myController">
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="43">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>List</span></h2>
                </div>
            </md-toolbar>
            <div>
                <table >
                    <tbody>
                        <tr ng-repeat="po in listPoem">
                            <td><b>{{po._source.title}}</b></td>
                            <td><a href="" style="color:blue" ng-click="clickDetail(po._id)">detail</a></td>
                            <td><a href="" style="color:red;" ng-click="clickDelete(po._id)">delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <md-button class="md-primary" ng-click="showPageAdd($event)">Add</md-button>
            </div>

            <!-- Infomation -->

            <div ng-hide="hideDetail">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2><span>Infomation</span></h2>
                    </div>
                </md-toolbar>

                <form ng-submit="submitAdd()" name="myForm">
                    <div>
                        <md-input-container class="md-block">
                            <input mdInput placeholder="Title" ng-model="poem.title" ng-minlength="2" ng-maxlength="32" name="uname">
                        </md-input-container>

                    </div>
                    <div>
                        <md-input-container class="md-block" >
                            <input mdInput placeholder="Author" ng-model="poem.author" ng-minlength="6" ng-maxlength="32" required>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block">
                            <label>Category</label>
                            <md-select ng-model="poem.category">
                                <md-option ng-repeat="ca in listCategory" value="{{ca.value}}">
                                    {{ca.value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block">
                            <label>Content</label>
                            <textarea ng-model="poem.content" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
                        </md-input-container>

                    </div>

                    <div>
                        <md-button ng-click="updatePoem(poem)">Update</md-button>
                        <md-button ng-click="clickHide()">Hide</md-button>
                    </div>
                </form>
            </div>

        </md-card>
    </md-content>
</div>
</body>
</html>