<!DOCTYPE html>
<html>
<head>
    <title>Poem</title>
    <meta charset="utf-8"/>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-app="myApp">
<div ng-controller="myController">
    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="43">
            <div>
                <table >
                    <tbody>
                        <tr ng-repeat="po in listPoem">
                            <td><b>{{po._source.title}}</b></td>
                            <td><a href="add.html" style="color:blue" ng-click="clickDetail(po.id)">detail</a></td>
                            <td><a href="" style="color:red;" ng-click="clickDelete(po.id)">delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <md-button class="md-primary" ng-href="{{pageAdd}}">Add</md-button>
            </div>
        </md-card>
    </md-content>
</div>
</body>
</html>