<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Info</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body ng-app="myApp">
	<!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />

	<div class="container">
		<div class="page-title">Account Info</div>
		<div class="account-container">
			<ul>
				<li>User Name: <span sec:authentication="name"></span>
				</li>
				<li>Role:
					<ul>
						<li><span sec:authentication="principal.authorities">[ROLE_USER,ROLE_ADMIN]</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>