<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Info</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />

	<div class="page-title">Account Info</div>

	<div class="account-container">


		<ul>
			<li>User Name: ${pageContext.request.userPrincipal.name}</li>
			<li>Role:
				<ul>
					<c:forEach items="${userDetails.authorities}" var="auth">
						<li>${auth.authority }</li>
					</c:forEach>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>