<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CART</title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div class="container">
    <!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />
	
    <!-- Giỏ Hàng -->
    <div class="container" ng-controller="ProductCtrl">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-md-1 col-sm-1 col-xs-1">Tên sản phẩm</th>
                <th class="col-md-2 col-sm-2 col-xs-2">Giá</th>
                <th class="col-md-1 col-sm-1 col-xs-1 text-center">Số lượng</th>
                <th class="col-md-5 col-sm-5 col-xs-5 text-center">Thành tiền</th>
                <th class="col-md-2 col-sm-2 col-xs-2 text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartLine : ${session.myCart.cartLines}">
            	<form action="/updateCart" method="post" name="form">
	                <td data-th="Product" class="col-md-1 col-sm-1 col-xs-1">
	                    <div class="row">
	                        <div class="col-sm-3 hidden-xs">
	                            <img th:src="@{/productImage(code=${cartLine.productInfo.code})}" class="img-responsive" width="100"/>
	                        </div>
	                        <div class="col-sm-6">
	                        	<input class="nomargin" name="code" th:value="${cartLine.productInfo.code}" style="font-size: 24px; border: none; background: none;" readonly="readonly"></input>
	                            <h4 class="nomargin" th:text="${cartLine.productInfo.name}"></h4>
	                            <p>Mô tả của sản phẩm</p>
	                        </div>
	                    </div>
	                </td>
	                <td style="vertical-align: middle" data-th="Price" class="col-md-2 col-sm-2 col-xs-2">
	                 	<span th:text="${cartLine.productInfo.price}"></span>
	                 	<span> đ</span>
	                 </td>
	                <td style="vertical-align: middle" data-th="Quantity" class="col-md-1 col-sm-1 col-xs-1">
	                    <input class="form-control text-center" name="quantity" th:value="${cartLine.quantity}" type="number" th:min="0" th:max="${cartLine.maxNumberOfProduct}"/>
	                </td>
	                <td style="vertical-align: middle" data-th="Subtotal" class="text-center col-md-5 col-sm-5 col-xs-5">
	                	<span th:text="${cartLine.productInfo.price} * ${cartLine.quantity}"></span>
	                 	<span> đ</span>
	                </td>
	                <td style="vertical-align: middle" class="actions col-md-2 col-sm-2 col-xs-2" data-th="">
	                	<button type="submit" class="btn btn-info" data-toggle="tooltip" title="Cập nhật">
	                		<i class="fa fa-refresh" aria-hidden="true"></i>
	                	</button>
	                    <a class="btn btn-danger" data-toggle="tooltip" title="Xoá" th:href="@{/removeFromCart(code=${cartLine.productInfo.code})}">
	                    	<i class="fa fa-times" aria-hidden="true"></i>
	                    </a>
	                </td>
                </form>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <a href="/productList" class="btn btn-warning">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        Tiếp tục mua hàng
                    </a>
                </td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center">
                    <strong th:text="${session.myCart.amountTotal}"></strong>
                    <strong> đ</strong>
                </td>
                <td>
                    <a th:href="@{/pay(user=${session.myCart.customerInfo.username})}" class="btn btn-success btn-block">
                        Tiến hành đặt hàng
                    	 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
