<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHANGE PASSWORD</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="RegisterCtrl">

	<!-- Header -->
		<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />
	
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
                <legend>
                    <i class="glyphicon glyphicon-globe"></i> Đổi mật khẩu !
                </legend>
                <form class="form" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input class="form-control" ng-model="user.firstname" name="firstname" placeholder="Họ" required="" autofocus=""
                                   type="text"/>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input class="form-control" ng-model="user.lastname" name="lastname" placeholder="Tên" required="" type="text"/>
                        </div>
                    </div>
                    <input class="form-control" ng-model="user.password_old" name="password_old" placeholder="Mật khẩu" type="password"/>
                    <input class="form-control" ng-model="user.password_new" name="password_new" placeholder="Mật khẩu mới" type="password"/>
                    <input class="form-control" ng-model="user.password_confirm" name="password_confirm" placeholder="Xác nhận mật khẩu mới" type="password"/>
                   	<div class="button-register">
                   		<button class="btn btn-lg btn-primary" type="submit" ng-click="register(user)">Đổi mật khẩu</button>
                   		<a class="btn btn-lg btn-warning" href="/">Trở lại</a>
                   	</div>
                </form>
            </div>
        </div>
    </div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>