<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<!-- Header -->
    <div th:replace="fragments/header :: header"/>
    
	<!-- Header -->
    <div th:replace="fragments/menu :: menu"/>

	<div class="page-title">Shopping Cart Demo</div>

	<div class="demo-container">
		<h3>Demo content</h3>

		<ul>
			<li>Buy online</li>
			<li>Admin pages</li>
			<li>Reports</li>
		</ul>
	</div>


	<!-- Header -->
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>