<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="head.html">

    <title>HOME PAGE</title>

</head>
<body ng-app="myApp">
<div class="container">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="logo col-md-6 col-sm-6 col-xs-12"><h1><a href="#">TMTAI</a></h1></div>
                <div class="search col-md-6 col-sm-6 col-xs-12 text-right">
                    <form method="get" action="#">
                        <input type="text" placeholder="Nhập từ khóa tìm kiếm" id="q" name="q" value="">
                        <input type="submit" value="Tìm Kiếm">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-menu">
                <!-- Menu do Bootstrap cung cấp có hỗ trợ menu trên di động -->
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Trang chủ</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Thương hiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="">Tài khoản<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Thông tin</a></li>
                                    <li><a href="#">Đổi mật khẩu</a></li>
                                    <div class="divider"></div>
                                    <li><a href="/logout">Thoát</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Menu Bootstrap -->
            </div>
        </div>
    </header>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="content col-md-9 col-sm-9 col-xs-12">
                    <div class="slider"><img src="images/slider.jpg"></div>
                    <div class="box-index">
                        <h2>Tin tức</h2>
                        <div class="row">
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-index">
                        <h2>Marketing Online</h2>
                        <div class="row">
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item1.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                            <div class="item col-md-3 col-sm-3 col-xs-6">
                                <span><a href="#" class="thumbnail"><img src="images/item2.jpg"></a></span>
                                <h3><a href="#">Tiêu đề bài viết</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="sidebar col-md-3 col-sm-3 col-xs-12">
                    <div class="sidebar-item">
                        <h4 class="widget-title">Tiêu đề sidebar</h4>
                        <div class="textwidget">
                            <img src="images/sidebar1.jpg">
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <h4 class="widget-title">Tiêu đề sidebar</h4>
                        <div class="textwidget">
                            <img src="images/sidebar2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-info text-center">
                Copyright : ...
                <br>
            </div>
        </div>
    </footer>
</div>
</body>
</html>