<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>Login</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />
	
	<div class="page-title">Login (For Employee, Manager)</div>

	<div class="login-container">
		<h3>Enter username and password</h3>
		<br />
		<form action="/login" method="post">
			<table>
				<tr>
					<td>User Name *</td>
					<td><input name="username" /></td>
				</tr>
				<tr>
					<td>Password *</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Login" /> <input type="reset"
						value="Reset" /></td>
				</tr>
			</table>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />
</body>
</html>