<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet"
          href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/custom.css"/>

    <!-- JS -->
    <script src="js/jquery-2.1.1.js"></script>

    <!-- AngularJS -->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-cookies.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <meta charset="ISO-8859-1">
    <title>LOGIN</title>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="LoginCtrl">
    <div class="row vertical-center-row">
        <div class="col-md-4 col-center-block login-widget">
            <h1 class="text-center">
                <i class="fa fa-dot-circle-o"></i>
                LOGIN
            </h1>
            <div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user fa-fw"></i>
                        </div>
                        <input class="form-control" placeholder="tranminhtai1304@gmail.com" type="text" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </div>
                        <input class="form-control" placeholder="******" type="password" ng-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="c1">
                            <input id="c1" name="cc" type="checkbox">
                            Nhớ thông tin
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Đăng nhập</button>
                    <hr>
                    <p class="text-center">
                        Bạn có tài khoản không?
                        <strong>
                            <a href="http://hocwebgiare.com/" class="blue-text">Đăng kýngay!</a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>