<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
<title>Thông tin tin tức</title>
</head>
<body ng-app="myApp">
	<div class="container">
		<!-- Header -->
		<div th:replace="fragments/header :: header" />

		<!-- Menu -->
		<div th:replace="fragments/menu :: menu" />


		<div class="container">
			<div class="row">
				<h2 th:text="${newsInfo.id}"></h2>
				<h2 th:text="${newsInfo.title}"></h2>
				<h2 th:text="${newsInfo.content}"></h2>
				<h2 th:text="${newsInfo.createDate}"></h2>
				<h2> ===================================== </h2>
				<h2 th:text="${newsInfo.getId()}"></h2>
				<h2 th:text="${newsInfo.getTitle()}"></h2>
			</div>
		</div>
		<!-- Footer -->
		<div th:replace="fragments/footer :: footer" />

	</div>
</body>
</html>