<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product List</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body ng-app="myApp">
	<!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />


	<div class="container" ng-controller="ProductCtrl">
		<div class="box-index">
			<div class="row">
				<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProduct">
					<ul>
						<li>
							<img alt="" ng-src ="/productImage?code={{product.code}}"/>
						</li>
						<li>Mã sản phẩm: {{product.code}}</li>
						<li>Sản phẩm: {{product.name}}</li>
						<li>Giá: {{product.price}}</li>
						<li>
							<button class="btn btn-info">Thêm vào giỏ hàng</button>
							<a class="btn btn-success" ng-href="/productInfo?code={{product.code}}">Chi tiết</a>
						</li>
					</ul>
				</div>
				<div class="item col-md-2 col-sm-2 col-xs-6 container">
					<div class="pagination" >
						<pagination num-pages="noOfPages" current-page="currentPage" class="pagination-medium"></pagination>
					</div>
					<pre>The selected page no: {{currentPage}}</pre>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>