<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
<title>Sản Phẩm</title>
</head>
<body ng-app="myApp">
	<div class="container">
		<!-- Header -->
		<div th:replace="fragments/header :: header" />

		<!-- Menu -->
		<div th:replace="fragments/menu :: menu" />


		<div class="container">
			<div class="box-index">
				<h2>Sản phẩm</h2>

				<div class="row">
					<div class="item col-md-3 col-sm-3 col-xs-6 column">
						<span>
							<a ng-href="#" class="thumbnail">
								<img ng-src="/rest/news/image?title={{news.title}}"/>
							</a>
						</span>
						<h4 th:text="${productInfo.code}"></h4>
						<h4 th:text="${productInfo.name}"></h4>
						<h4 th:text="${productInfo.price}"></h4>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<div th:replace="fragments/footer :: footer" />

	</div>
</body>
</html>