<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product List</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body ng-app="myApp">
<div class="container">
	<!-- Header -->
	<div th:replace="fragments/header :: header" />

	<!-- Menu -->
	<div th:replace="fragments/menu :: menu" />
	
	<div style="margin: 10px">
		<div ng-controller="ProductCtrl">
			<div>
				<div class="container">
					<h2>ASUS</h2>
				</div>
				<div class="box-index">
					<div class="row">
						<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProductDetailsAsus">
							<ul>
								<li>
									<a class="thumbnail"  ng-href="/productInfo?code={{product.code}}">
										<img alt="" ng-src ="/productImage?code={{product.code}}"/>
									</a>
								</li>
								<li>Mã: {{product.code}}</li>
								<li>Tên: {{product.name}}</li>
								<li>Số lượng: {{product.quantity}}</li>
								<li><b>Giá: {{product.price | number:'0'}} đ</b></li>
								<li style="text-align: center;">
									<a ng-href="/addToCart?productCode={{product.code}}" ng-hide="{{product.quantity == 0}}" style="font-size: 20px" class="btn btn-info" data-toggle="tooltip" title="Thêm vào giỏ hàng" data-placement="bottom" >
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									<a style="font-size: 20px" ng-hide="{{product.quantity != 0}}" ng-disabled="{{product.quantity == 0}}" class="btn btn-warning" data-toggle="tooltip" title="Sản phẩm đã hết hàng" data-placement="bottom">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div >
					</div>
					<div class="item row" style="text-align: center;">
							<a ng-click="showItemAsus(listProductDetailsAsus)">Xem thêm sản phẩm ({{listAllProductDetailsAsus.length - listProductDetailsAsus.length}})</a>
					</div>
				</div>
			</div>
			
			<div>
				<div class="container">
					<h2>DELL</h2>
				</div>
				<div class="box-index">
					<div class="row">
						<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProductDetailsDell">
							<ul>
								<li>
									<a class="thumbnail"  ng-href="/productInfo?code={{product.code}}">
										<img alt="" ng-src ="/productImage?code={{product.code}}"/>
									</a>
								</li>
								<li>Mã: {{product.code}}</li>
								<li>Tên: {{product.name}}</li>
								<li>Số lượng: {{product.quantity}}</li>
								<li><b>Giá: {{product.price | number:'0'}} đ</b></li>
								<li style="text-align: center;">
									<a ng-href="/addToCart?productCode={{product.code}}" ng-hide="{{product.quantity == 0}}" style="font-size: 20px" class="btn btn-info" data-toggle="tooltip" title="Thêm vào giỏ hàng" data-placement="bottom" >
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									<a style="font-size: 20px" ng-hide="{{product.quantity != 0}}" ng-disabled="{{product.quantity == 0}}" class="btn btn-warning" data-toggle="tooltip" title="Sản phẩm đã hết hàng" data-placement="bottom">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="item row" style="text-align: center;">
							<a ng-click="showItemDell(listProductDetailsDell)">Xem thêm sản phẩm ({{listAllProductDetailsDell.length - listProductDetailsDell.length}})</a>
					</div>
				</div>
			</div>
			
			<div>
				<div class="container">
					<h2>HP</h2>
				</div>
				<div class="box-index">
					<div class="row">
						<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProductDetailsHP">
							<ul>
								<li>
									<a class="thumbnail"  ng-href="/productInfo?code={{product.code}}">
										<img alt="" ng-src ="/productImage?code={{product.code}}"/>
									</a>
								</li>
								<li>Mã: {{product.code}}</li>
								<li>Tên: {{product.name}}</li>
								<li>Số lượng: {{product.quantity}}</li>
								<li><b>Giá: {{product.price | number:'0'}} đ</b></li>
								<li style="text-align: center;">
									<a ng-href="/addToCart?productCode={{product.code}}" ng-hide="{{product.quantity == 0}}" style="font-size: 20px" class="btn btn-info" data-toggle="tooltip" title="Thêm vào giỏ hàng" data-placement="bottom" >
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									<a style="font-size: 20px" ng-hide="{{product.quantity != 0}}" ng-disabled="{{product.quantity == 0}}" class="btn btn-warning" data-toggle="tooltip" title="Sản phẩm đã hết hàng" data-placement="bottom">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="item row" style="text-align: center;">
							<a ng-click="showItemHP(listProductDetailsHP)">Xem thêm sản phẩm ({{listAllProductDetailsHP.length - listProductDetailsHP.length}})</a>
					</div>
				</div>
			</div>
			
			<div>
				<div class="container">
					<h2>LENOVO</h2>
				</div>
				<div class="box-index">
					<div class="row">
						<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProductDetailsLenovo">
							<ul>
								<li>
									<a class="thumbnail"  ng-href="/productInfo?code={{product.code}}">
										<img alt="" ng-src ="/productImage?code={{product.code}}"/>
									</a>
								</li>
								<li>Mã: {{product.code}}</li>
								<li>Tên: {{product.name}}</li>
								<li>Số lượng: {{product.quantity}}</li>
								<li><b>Giá: {{product.price | number:'0'}} đ</b></li>
								<li style="text-align: center;">
									<a ng-href="/addToCart?productCode={{product.code}}" ng-hide="{{product.quantity == 0}}" style="font-size: 20px" class="btn btn-info" data-toggle="tooltip" title="Thêm vào giỏ hàng" data-placement="bottom" >
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									<a style="font-size: 20px" ng-hide="{{product.quantity != 0}}" ng-disabled="{{product.quantity == 0}}" class="btn btn-warning" data-toggle="tooltip" title="Sản phẩm đã hết hàng" data-placement="bottom">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="item row" style="text-align: center;">
							<a ng-click="showItemLenovo(listProductDetailsLenovo)">Xem thêm sản phẩm ({{listAllProductDetailsLenovo.length - listProductDetailsLenovo.length}})</a>
					</div>
				</div>
			</div>
			
			<div>
				<div class="container">
					<h2>WAIO</h2>
				</div>
				<div class="box-index">
					<div class="row">
						<div class="item col-md-3 col-sm-3 col-xs-6" ng-repeat="product in listProductDetailsWaio">
							<ul>
								<li>
									<a class="thumbnail"  ng-href="/productInfo?code={{product.code}}">
										<img alt="" ng-src ="/productImage?code={{product.code}}"/>
									</a>
								</li>
								<li>Mã: {{product.code}}</li>
								<li>Tên: {{product.name}}</li>
								<li>Số lượng: {{product.quantity}}</li>
								<li><b>Giá: {{product.price | number:'0'}} đ</b></li>
								<li style="text-align: center;">
									<a ng-href="/addToCart?productCode={{product.code}}" ng-hide="{{product.quantity == 0}}" style="font-size: 20px" class="btn btn-info" data-toggle="tooltip" title="Thêm vào giỏ hàng" data-placement="bottom" >
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									<a style="font-size: 20px" ng-hide="{{product.quantity != 0}}" ng-disabled="{{product.quantity == 0}}" class="btn btn-warning" data-toggle="tooltip" title="Sản phẩm đã hết hàng" data-placement="bottom">
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="item row" style="text-align: center;">
							<a ng-click="showItemWaio(listProductDetailsWaio)">Xem thêm sản phẩm ({{listAllProductDetailsWaio.length - listProductDetailsWaio.length}})</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>