<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="head.html">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="row vertical-center-row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
            <legend>
                <i class="glyphicon glyphicon-globe"></i> Đăng ký thành viên!
            </legend>
            <form action="/doRegister" method="post" class="form"
                  role="form">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="firstname" placeholder="Họ"
                               required="" autofocus="" type="text">
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="lastname" placeholder="Tên"
                               required="" type="text">
                    </div>
                </div>
                <input class="form-control" name="username" placeholder="Tên đăng nhập" type="text">
                <input class="form-control" name="password" placeholder="Mật khẩu" type="password">
                <input class="form-control" name="retypepassword" placeholder="Nhập lại mật khẩu" type="password">
                <input class="form-control" name="youremail" placeholder="Email" type="email">

                <label> Ngày sinh</label>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Day">Ngày</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Month">Tháng</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Year">Năm</option>
                        </select>
                    </div>
                </div>
                <label class="radio-inline"> <input name="sex" id="inlineCheckbox1" value="male" type="radio"> Nam
                </label>
                <label class="radio-inline"> <input name="sex" id="inlineCheckbox2" value="female" type="radio"> Nữ
                </label>
                <br>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>