<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REGISTER</title>

<div th:replace="fragments/header :: header-css" />
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="RegisterCtrl">
		<div class="container">
			<div class="row vertical-center-row">
				<div
					class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
					<legend style="text-align: center;">
						<i class="glyphicon glyphicon-globe"></i> Đăng ký thành viên !
					</legend>
					
					<form class="form-group" role="form" name="form" method="post" action="/doRegister">
						<div class="row">
							<div class="container text-danger">
								<span th:text="${messageError}"></span>
								<span ng-if="user.password != user.retypepassword">Chưa nhập lại mật khẩu hoặc mật khẩu nhập lại không chính xác !</span>
							</div>
						
							<div class="col-xs-6 col-md-6">
								<input class="form-control" ng-model="user.firstName"
									name="firstName" placeholder="Họ" required="required"
									autofocus="" type="text" ng-minlength="2" ng-maxlength="32"
									ng-pattern="/^[a-zA-Z]/" />
								<i class="fa fa-check text-success" ng-show="form.firstName.$dirty &amp;&amp; form.firstName.$valid"></i>
								<div ng-show="form.firstName.$dirty &amp;&amp; form.firstName.$invalid" class="text-danger">
									<i class="fa fa-times text-danger"></i> 
									<span ng-show="form.firstName.$error.required">Họ không được bỏ trống </span> 
									<span ng-show="form.firstName.$error.minlength">Họ phải dài hơn 2 kí tự </span> 
									<span ng-show="form.firstName.$error.maxlength">Họ ngắn hơn 32 kí tự </span> 
									<span ng-show="form.firstName.$error.pattern">Họ chỉ bao gồm các kí tự chữ cái</span> 
								</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<input class="form-control" ng-model="user.lastName"
									name="lastName" placeholder="Tên" required="required"
									type="text" ng-minlength="3" ng-maxlength="50"
									ng-pattern="/^[a-zA-Z]/" />
								<i class="fa fa-check text-success" ng-show="form.lastName.$dirty &amp;&amp; form.lastName.$valid"></i>
								<div ng-show="form.lastName.$dirty &amp;&amp; form.lastName.$invalid" class="text-danger">
									<i class="fa fa-times text-danger"></i> 
									<span ng-show="form.lastName.$error.required"> Tên không được bỏ trống </span> 
									<span ng-show="form.lastName.$error.minlength"> Tên phải dài hơn 3 kí tự </span> 
									<span ng-show="form.lastName.$error.maxlength"> Tên ngắn hơn 32 kí tự </span> 
									<span ng-show="form.lastName.$error.pattern"> Tên chỉ bao gồm các kí tự chữ cái</span> 
								</div>
							</div>
						</div>

						<div>
							<input class="form-control" ng-model="user.userName"
								name="username" placeholder="Tên đăng nhập" type="text"
								ng-minlength="6" ng-maxlength="32" ng-pattern="/^[a-zA-Z]/" required="required"/>
							<i class="fa fa-check text-success" ng-show="form.username.$dirty &amp;&amp; form.username.$valid"></i>
							<div ng-show="form.username.$dirty &amp;&amp; form.username.$invalid" class="text-danger">
								<i class="fa fa-times text-danger"></i> 
								<span ng-show="form.username.$error.required"> Tên đăng nhập không được bỏ trống </span> 
								<span ng-show="form.username.$error.minlength"> Tên đăng nhập phải dài hơn 6 kí tự </span> 
								<span ng-show="form.username.$error.maxlength"> Tên đăng nhập ngắn hơn 32 kí tự </span> 
								<span ng-show="form.username.$error.pattern"> Tên đăng nhập chỉ bao gồm các kí tự chữ cái và số </span> 
							</div>
						</div>

						<div>
							<input class="form-control" ng-model="user.password"
								name="password" placeholder="Mật khẩu" type="password"
								ng-minlength="6" ng-maxlength="32" required="required"/>
							<i class="fa fa-check text-success" ng-show="form.password.$dirty &amp;&amp; form.password.$valid"></i>
							<div ng-show="form.password.$dirty &amp;&amp; form.password.$invalid" class="text-danger">
								<i class="fa fa-times text-danger"></i> 
								<span ng-show="form.password.$error.required"> Mật khẩu không được bỏ trống </span> 
								<span ng-show="form.password.$error.minlength"> Mật khẩu phải dài hơn 6 kí tự </span> 
								<span ng-show="form.password.$error.maxlength"> Mật khẩu ngắn hơn 32 kí tự </span> 
							</div>
						</div>
						
						<div>
							<input class="form-control" ng-model="user.retypepassword"
								name="retypepassword" placeholder="Nhập lại mật khẩu"
								type="password" ng-minlength="6" ng-maxlength="32" required="required"/>
							<i class="fa fa-check text-success" ng-show="form.retypepassword.$dirty &amp;&amp; form.retypepassword.$valid"></i>
							<div ng-show="form.retypepassword.$dirty &amp;&amp; form.retypepassword.$invalid" class="text-danger">
								<i class="fa fa-times text-danger"></i> 
								<span ng-show="form.retypepassword.$error.required"> Mật khẩu không được bỏ trống </span> 
								<span ng-show="form.retypepassword.$error.minlength"> Mật khẩu phải dài hơn 6 kí tự </span> 
								<span ng-show="form.retypepassword.$error.maxlength"> Mật khẩu ngắn hơn 32 kí tự </span> 
							</div>
						</div>
						 
						 <div>
							<input class="form-control" ng-model="user.address"
								name="address" placeholder="Địa chỉ" type="text"
								ng-minlength="2" ng-maxlength="255" required="required" />
							<i class="fa fa-check text-success" ng-show="form.address.$dirty &amp;&amp; form.address.$valid"></i>
							<div ng-show="form.address.$dirty &amp;&amp; form.address.$invalid" class="text-danger">
								<i class="fa fa-times text-danger"></i> 
								<span ng-show="form.address.$error.required"> Địa chỉ không được bỏ trống </span> 
								<span ng-show="form.address.$error.minlength"> Địa chỉ phải dài hơn 2 kí tự </span> 
								<span ng-show="form.address.$error.maxlength"> Địa chỉ ngắn hơn 255 kí tự </span> 
							</div>
						</div>
						
						<div>
							<input class="form-control" ng-model="user.email" name="email" placeholder="Email" type="email" />
						</div>
						
						<div>
							<input class="form-control" ng-model="user.phone" name="phone"
								placeholder="Điện thoại" type="text" ng-minlength="10"
								ng-maxlength="14" required="required" />
							<i class="fa fa-check text-success" ng-show="form.phone.$dirty &amp;&amp; form.phone.$valid"></i>
							<div ng-show="form.phone.$dirty &amp;&amp; form.phone.$invalid" class="text-danger">
								<i class="fa fa-times text-danger"></i> 
								<span ng-show="form.phone.$error.required">  Số điện thoại không được bỏ trống </span> 
								<span ng-show="form.phone.$error.minlength"> Số điện thoại phải dài hơn 10 số </span> 
								<span ng-show="form.phone.$error.maxlength"> Số điện thoại ngắn hơn 14 kí tự </span> 
							</div>
						</div>
						
						<datepicker date-format="dd-MM-yyyy" selector="form-control">
							<div class="input-group">
								<input class="form-control" ng-model="user.birthday" name="birthday" placeholder="Ngày, tháng, năm sinh" />
								<span class="input-group-addon" style="cursor: pointer">
									<i class="fa fa-lg fa-calendar"></i>
								</span>
							</div>
						</datepicker>
						<label class="radio-inline">
							<input name="gender" id="inlineCheckbox1" ng-model="user.male" type="radio"/> Nam
						</label> 
						<label class="radio-inline">
							<input name="gender" id="inlineCheckbox2" ng-model="user.female" type="radio" /> Nữ
						</label> <br /> <br />
						<div class="button-register">
							<button class="btn btn-md btn-primary" ng-disabled="!form.$dirty || (form.$dirty &amp;&amp; form.$invalid)">
								<i class="fa fa-sign-in" aria-hidden="true"> Đăng ký</i>
							</button>
							<a class="btn btn-md btn-warning" href="/"> 
								<i class="fa fa-home" aria-hidden="true"> Trở lại</i> 
							</a>
						</div>
						
						<div>
							<h2 th:text="${success}"></h2>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>