<div layout="row" layout-align="center center" style="background-color: #3b73af; height: 50px">
    <div layout-fill layout="row" layout-align="start center" style="margin: 5px;">
        <div layout-align="start center" style="width: 200px">
            <h2>{{tenKhuVuc}}</h2>
        </div>
        <div layout-align="end center" layout="row" layout-fill>
            <md-button class="md-icon-button">
                <md-icon class="material-icons">person</md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon class="material-icons">directions_run</md-icon>
            </md-button>
        </div>
    </div>
</div>