<#import "../layout/userLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">
    <body ng-app="myApp">
    <div ng-controller="HomeController" layout="column" layout-fill>
        <!--<md-progress-linear md-mode="determinate" style="background-color: #9E9E9E"></md-progress-linear>-->
        <div layout-fill id="index">
            <div layout-fill layout="row" layout-align="start start" class="md-block">
                <md-content id="left" flex="20">
                    <div layout="column"
                         layout-align="start stretch">
                        <md-button ng-if="currentDashboard.owner == name && !hideAdd" class="md-primary md-raised"
                                   ng-click="showAddWidgetDialog($event)">
                            Add new gadget
                        </md-button>

                        <md-list layout-fill layout="column" layout-align="center stretch">
                            <!-- List item-->
                            <md-list-item ng-repeat="it in dashboardNameList" layout="row" class="md-2-line"
                                          ng-class="{'selected-gadget': selectedDashboardId==it.id}"
                                          ng-click="dashboardListItemClicked(it)">
                                <div layout="row">
                                    <md-icon ng-if="it.privacy.status == 'public'"
                                             style="color: #8c8c8c;" class="material-icons">public
                                    </md-icon>
                                    <md-icon ng-if="it.privacy.status == 'other'"
                                             style="color: #8c8c8c;" class="material-icons">people_outline
                                    </md-icon>
                                    <md-icon ng-if="it.privacy.status == 'private'"
                                             style="color: #8c8c8c;" class="material-icons">lock_outline
                                    </md-icon>

                                </div>
                                <div id="styleList" flex
                                     class="md-list-item-text">
                                    <p ng-style="{'color':'#696969'}"><b>{{it.name}}</b></p>
                                    <p ng-style="{'color':'#696969'}">{{it.owner}}</p>
                                </div>

                                <md-button ng-if="it.owner == name"
                                           class="md-icon-button"
                                           ng-click="dashboardOptionClicked(it,$event)">
                                    <md-tooltip>Option</md-tooltip>
                                    <md-icon aria-label="Menu" class="material-icons">settings</md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
                <md-content id="right" style="height: 100%">
                    <!--<md-progress-linear  ng-if="getting"></md-progress-linear>-->

                    <div layout-fill layout="column" layout-align="center center" ng-if="dashboardGadgetInfo.Gadget==0">
                        No gadget found
                    </div>
                    <div layout-fill layout-align="center center" layout="column" ng-if="hasInfo">
                        <div layout="row">
                            Loading {{dashboardGadgetInfo.Gadget}} gadget
                            <div ng-if="dashboardGadgetInfo.Gadget>1">s</div>
                            <br></br>
                        </div>
                        <md-progress-circular ng-if="getting"></md-progress-circular >
                    </div>

                    <!-- AMS OVERDUE REVIEWS-->
                    <div id="{{re.id}}" ng-init="hide=flase" ng-repeat="re in reviewList" style="width: 100%">
                        <md-card class="gadget" md-whiteframe="8">
                            <div class="gadgetHeader" layout="row" layout-align="start center">
                                <h4>AMS Overdue Reviews Report {{re.project}}</h4>
                                <div ng-if="re.lastUpateTime > 1">(update {{re.lastUpateTime}} mins ago)</div>
                                <div ng-if="re.lastUpateTime == 1">(update {{re.lastUpateTime}} min ago)</div>
                                <div ng-if="re.lastUpateTime == 0">(just update)</div>
                                <div flex></div>
                                <md-button class="md-icon-button" ng-if="currentDashboard.owner == name"
                                           style="color: orange; margin-right: 10px"
                                           ng-click="deleteGagdget(re)">
                                    <md-icon class="material-icons">delete</md-icon>
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button" ng-if="currentDashboard.owner == name"
                                           style="color: yellow;"
                                           ng-click="editReviewGagdget(re,$event)">
                                    <md-icon class="material-icons">edit</md-icon>

                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="updateViewsGadget()">
                                           <!--ng-click="clearCacheGagdget(re)">-->
                                    <md-icon class="material-icons">refresh</md-icon>

                                    <md-tooltip md-direction="bottom">
                                        Update
                                    </md-tooltip>
                                </md-button>
                                <md-button aria-label="Toggle View" class="md-icon-button" ng-click="hide=!hide">
                                    <md-icon ng-if="hide" class="material-icons">expand_more</md-icon>
                                    <md-tooltip ng-if="hide" md-direction="bottom">
                                        Toggle View
                                    </md-tooltip>

                                    <md-icon ng-if="!hide" class="material-icons">expand_less</md-icon>
                                    <md-tooltip ng-if="!hide" md-direction="bottom">
                                        Toggle View
                                    </md-tooltip>
                                </md-button>
                            </div>
                            <table ng-if="!hide" class="responstable" style="width: 100%"
                                   ng-mouseover="gadgetHover(re)">
                                <tr>
                                    <th>Index</th>
                                    <th>IA</th>
                                    <th>X < 5</th>
                                    <th>5 < X < 10</th>
                                    <th>X > 10</th>
                                </tr>
                                <tr ng-repeat="y in re.ReviewDataArray">
                                    <td>{{$index + 1}}</td>
                                    <td style="text-align: left;">{{ y.creator }}</td>
                                    <td>{{ y.col1 }}</td>
                                    <td>{{ y.col2 }}</td>
                                    <td>{{ y.col3 }}</td>
                                </tr>
                            </table>
                        </md-card>
                    </div>

                    <!-- AMS SONAR-->
                    <div ng-repeat="item in sonarStList" id="{{it.id}}" ng-init="hide=false">
                        <md-card class="gadget" md-whiteframe="8">
                            <div  layout="row" layout-align="start center">
                                <h4>AMS SONAR Statistics {{item.release}}</h4>

                                <div layout = "row" layout-align="end center" flex>
                                    <md-button class="md-icon-button" ng-if="currentDashboard.owner == name" ng-click="editSonarGagdget(item, $events)">
                                        <md-tooltip md-direction="bottom">Edit</md-tooltip>
                                        <md-icon aria-label="" class="material-icons">edit</md-icon>
                                    </md-button>

                                    <md-button class="md-icon-button" ng-if="currentDashboard.owner == name" ng-click="deleteGagdget(item)">
                                        <md-tooltip md-direction="bottom">Delete</md-tooltip>
                                        <md-icon aria-label="" class="material-icons">delete</md-icon>
                                    </md-button>

                                    <md-button class="md-icon-button" ng-click="updateViewsGadget()">
                                        <md-tooltip md-direction="bottom">Update</md-tooltip>
                                        <md-icon aria-label="" class="material-icons">update</md-icon>
                                    </md-button>

                                    <md-button class="md-icon-button" ng-click="hide=!hide">
                                        <md-tooltip md-direction="bottom">Toogke View</md-tooltip>
                                        <md-icon ng-if="!hide" aria-label="" class="material-icons">keyboard_arrow_up</md-icon>
                                        <md-icon ng-if="hide" aria-label="" class="material-icons">keyboard_arrow_down</md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div ng-hide="hide">
                                <table class="responstable" style="width: 100%">
                                    <thead>
                                        <th>Index</th>
                                        <th>Compenent</th>
                                        <th ng-repeat="metric in item.metricList">{{metric.name}}</th>
                                    </thead>
                                    <tbody ng-repeat="usr in item.RsIAArray">
                                        <tr>
                                            <td>{{usr.name}}</td>
                                        </tr>
                                        <tr ng-repeat="info in usr.Components">
                                            <td>{{$index + 1}}</td>
                                            <td style="text-align: left">{{info.componentKey}}</td>
                                            <td ng-repeat="metric in item.metricList">
                                                <a  href="#" ng-style="info.metricVal.coverage < {{limit}} && {color:'red'}" ng-if="metric.key == 'coverage'">{{info.metricVal.coverage}} %</a>
                                                <span ng-if="metric.key == 'critical_violations'">{{info.metricVal.critical_violations}}</span>
                                                <a href="#" ng-if="metric.key == 'new_coverage'">
                                                    <span ng-style="info.metricVal.new_coverage < {{limit}} && {color:'red'}">{{info.metricVal.new_coverage}}</span>
                                                    <span ng-style="info.metricVal.new_coverage < {{limit}} && {color:'red'}" ng-if="info.metricVal.new_coverage > 0"> %</span>
                                                </a>
                                                <span ng-if="metric.key == 'test_errors'">{{info.metricVal.test_errors}}</span>
                                                <span ng-if="metric.key == 'test_execution_time'">{{info.metricVal.test_execution_time}} s</span>
                                                <span ng-if="metric.key == 'test_failures'">{{info.metricVal.test_failures}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-card>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
    </body>
</@layout.myLayout>