md-content#left{
    background-color:white;
    height: 100%;
    width: 100%;
}

md-content#right{
    background-color:#eeeeee;
    height: 100%;
    width: 100%;
}

div#styleList{
    margin-left: 10px;
    margin-right: 10px
}

div#left{
    background-color:#666666;
    height: 100%;
    width: 100%;
}

div#right{
    background-color:cadetblue;
    height: 100%;
    width: 100%;
}
