<!DOCTYPE html>
<html>
<head >
	<title>Poem</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="myController">
		<div class="panel-body col-sm-8">
			<table class="table">
				<thead>
					<tr>
						<td>Title</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="po in listPoem">
						<td><b>{{po.title}}</b></td>
						<td class="col-sm-1"><a href="add.html" style="color:blue" ng-click="clickDetail(po.id)">detail</a></td>
						<td class="col-sm-1"><a href="" style="color:red;" ng-click="clickDelete(po.id)">delete</a></td>
					</tr>
				</tbody>
			</table>
			<a href="add.html" type="button" class="btn btn-success">Add</a>
		</div>
	</div>
</body>
</html>