<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REGISTER</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="RegisterCtrl">
    <div class="container">
        <div class="row vertical-center-row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
                <legend>
                    <i class="glyphicon glyphicon-globe"></i> Đăng ký thành viên!
                </legend>
                <form class="form" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input class="form-control" ng-model="user.firstname" name="firstname" placeholder="Họ" required="" autofocus=""
                                   type="text"/>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input class="form-control" ng-model="user.lastname" name="lastname" placeholder="Tên" required="" type="text"/>
                        </div>
                    </div>
                    <input class="form-control" ng-model="user.username" name="username" placeholder="Tên đăng nhập" type="text"/>
                    <input class="form-control" ng-model="user.password" name="password" placeholder="Mật khẩu" type="password"/>
                    <input class="form-control" ng-model="user.retypepassword" name="retypepassword" placeholder="Nhập lại mật khẩu" type="password"/>
                    <input class="form-control" ng-model="user.address" name="address" placeholder="Địa chỉ" type="text"/>
                    <input class="form-control" ng-model="user.email" name="email" placeholder="Email" type="email"/>
                    <input class="form-control" ng-model="user.phone" name="phone" placeholder="Điện thoại" type="text"/>
                    <label>Ngày sinh</label>
                    <div class="container">
                        <div class="row">
                            <input type='text' class="form-control" id='datetimepicker' />
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker').datepicker({format : 'dd/mm/yy'});
                                });
                            </script>
                        </div>
                    </div>
                    <label class="radio-inline">
                        <input name="sex" id="inlineCheckbox1" ng-model="user.male" value="male" type="radio"/> Nam
                    </label>
                    <label class="radio-inline">
                        <input name="sex" id="inlineCheckbox2" ng-model="user.female" value="female" type="radio"/> Nữ
                    </label>
                    <br/>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register(user)">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>